.pizza-options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5px;
    margin-bottom: 15px;

    background: #f3f3f3;
    border-radius: 10px;
}

.pizza-options input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.pizza-options__selects {
    display: flex;
}

.pizza-options__selects:first-child {
    margin-bottom: 5px;
}

.pizza-options__selects label {
    cursor: pointer;
}


.pizza-options__selects.dough label {
    width: 50%;
}

.pizza-options__selects.size label {
    width: 33.333%;
}



.pizza-options__name {
    padding: 10px 0;

    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2c2c2c;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.pizza-options__name.not-supported {
    background: #f3f3f3;
    color: rgba(44, 44, 44, 0.2);
    cursor: default;
}

.pizza-options input:checked + .pizza-options__name {
    background: #fff;
}
