.dropdown__body {
    display: block;
    width: 132px;
    height: auto;

    position: absolute;
    top: 45px;
    right: 0;
    z-index: 10;

    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.dropdown__body ul {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

.dropdown__item {
    padding: 10px 0 10px 15px;
    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.dropdown__item:hover {
    background: rgba(254, 95, 30, 0.05);
}
