.cart-list {
    max-width: 840px;
    margin: 95px auto 130px;
}

.cart-list__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
}

.cart-list__nav a {
    text-decoration: none;
}

.btn.cart-list__back {
    display: flex;
    align-items: center;

    position: relative;

    padding: 15px 40px;
    
    color: #CACACA;
    

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
}

.btn.cart-list__back svg {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.btn.cart-list__pay {
    padding: 15px 40px;

    color: #fff;

    background: #FE5F1E;

}

.cart-list ul {
    list-style: none;
    padding: 0;
}

@media (max-width: 600px) {
    .cart-list {
        margin: 45px auto 65px;

    }
    .btn.cart-list__back, .btn.cart-list__pay {
        padding: 15px 25px;
    }

    .btn.cart-list__back svg {
        display: none;
    }
}

@media (max-width: 400px) {
    .cart-list__nav {
        font-size: 14px;
    }

    .btn.cart-list__back, .btn.cart-list__pay {
        padding: 10px 15px;
    }

    
}