.sort {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sort__dropdown-arrow {
    margin-right: 10px;

    transform: rotate(180deg);
}

.sort__dropdown-arrow.active {
    transform: rotate(0);
}

.sort__title {
    margin-right: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
}

.sort__type {
    text-decoration: underline dotted;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FE5F1E;

    background: none;
    border: none;

    cursor: pointer;
}

@media(max-width: 1200px) {
    .sort {
        margin-top: 30px;
    }
}