.cart-item__control {
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__quantity {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item__btn {
    width: 32px;
    height: 32px;

    font-size: 22px;
    text-align: center;
    color: #eb5a1e;

    background: #ffffff;
    border: 2px solid #fe5f1e;
    border-radius: 100%;

    cursor: pointer;

    position: relative;
}

.cart-item__btn .minus {
    width: 9px;
    height: 2px;
    background: #eb5a1e;
}

.cart-item__btn div {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
}

.cart-item__btn.del {
    transform: rotate(45deg);

    border: 2px solid #d7d7d7;

    color: #d0d0d0;
}

@media(max-width: 600px) {
    .cart-item__control {
        width: 100%;
    }

    .cart-item__btn.del {
        position: absolute;
        top: 0;
        left: 90%;
    }

    .cart-item__quantity {
        width: 25%;
    }
}

@media(max-width: 400px) {
    .cart-item__btn {
        width: 25px;
        height: 25px;
    }
}