.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 30px;

    position: relative;
}

.filter__btn {
    margin-right: 10px;

    background-color: #f9f9f9;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2c2c2c;
}

.filter__btn.active {
    background-color: #282828;
    color: #fff;
}

@media(max-width: 1200px) {
    .filter {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 767px) {
    .filter__btns {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .filter__btn {
        margin: 5px;
    }
}

@media(max-width: 375px) {
    .filter {
        margin: 20px 0 15px;

    }

    .filter__btn {
        font-size: 12px;
    }
}
