.app__body {
    width: 1366px;
    margin: 0 auto;
    padding: 45px 50px;

    background-color: #fff;
    border-radius: 10px;
}

.app__divider {
    margin-bottom: 40px;
    width: 100%;
    height: 1px;

    background-color: #F7F7F7;
}

